:root {
    /*Primary color*/
    --color-primary-950: #39A900;
    --color-primary-900: #42AD0C;
    --color-primary-800: #56B526;
    --color-primary-700: #6ABE3F;
    --color-primary-600: #7EC759;
    --color-primary-500: #92CF72;
    --color-primary-400: #A5D88C;
    --color-primary-300: #B9E0A5;
    --color-primary-200: #CDE9BF;
    --color-primary-100: #E1F2D8;
    --color-primary-50: #F5FAF2;

    /*Secundary color*/
    --color-secundary-950: #FDC300;
    --color-secundary-900: #FDC815;
    --color-secundary-800: #FDCD2A;
    --color-secundary-700: #FDD23F;
    --color-secundary-600: #FDD755;
    --color-secundary-500: #FDDC6A;
    --color-secundary-400: #FEE17F;
    --color-secundary-300: #FEE694;
    --color-secundary-200: #FEEBAA;
    --color-secundary-100: #FFF1C0;
    --color-secundary-50: #FEF5D4;

    /*Tertiary color*/
    --color-tertiary-950: #71277A;
    --color-tertiary-900: #7D3A86;
    --color-tertiary-800: #8A4E92;
    --color-tertiary-700: #97619E;
    --color-tertiary-600: #A475AA;
    --color-tertiary-500: #B189B6;
    --color-tertiary-400: #BE9CC2;
    --color-tertiary-300: #CBB0CE;
    --color-tertiary-200: #D8C4DA;
    --color-tertiary-100: #E5D7E6;
    --color-tertiary-50: #F2EBF2;


    /*Basic color*/
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-950: #181818;
    --color-gray-900: #242424;
    --color-gray-800: #3D3D3D;
    --color-gray-700: #565656;
    --color-gray-600: #6E6E6E;
    --color-gray-500: #878787;
    --color-gray-400: #9F9F9F;
    --color-gray-300: #B8B8B8;
    --color-gray-200: #D1D1D1;
    --color-gray-100: #E9E9E9;
    --color-gray-50: #F6F6F6;

    /* Typography */
    --main-font: ,Work Sans, Helvetica, Arial, sans-serif;
    --secondary-font: Calibri, Helvetica, Arial;

    /* Font weights crudos */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Font variants */
    --light-variant: light;
    --medium-variant: medium;
    --bold-variant: bold;

    /* Font-size */
    --fs-xxxxl: 5rem; /* Ultra grande */
    --fs-xxxl: 4rem; /* Super grande*/
    --fs-xxl: 3rem; /* Extra grande */
    --fs-xl: 2.5rem; /* Muy grande */
    --fs-lg: 2rem; /* Grande */
    --fs-md: 1.5rem; /* Mediano */
    --fs-sm: 1.25rem; /* Pequeño */
    --fs-xs: 1rem; /* Base */
    --fs-xxs: 0.875rem; /* Extra pequeño 14px */
    --fs-xxxs: 0.75rem; /* Minimo 12px*/
    --fs-xxxxs: 0.5rem; /* Mínimo 8px */
}